@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --orange-color: #EA5959;
  --foreground: #171717;
  --light-grey: #F3F3F3;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0e0e;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--orange-color);
  font-family: "Lato", serif;
}

